.weather-container {
    color: #fff;

    .weather-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 5% 10% 0 10%;

        .weather-temperature {
            .weather-icon {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 60%;
                    height: 60%;
                }

                .weather-temperature-text {
                    margin-left: 8%;
                    font-size: 40pt;
                    font-weight: 400;
                }
            }

            .weather-description {
                margin: 5% 0 0 4%;
                font-size: 15pt;
                font-weight: 300;
                margin-right: 10px;
            }
        }

        .time {
            .hour {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10%;

                h2 {
                    margin-top: 10%;
                    font-size: 40pt;
                }

                img {
                    width: 40%;
                    height: 40%;

                    margin-left: 10%;
                }
            }

            .thermal-sens {
                font-size: 20pt;
                font-weight: 300;
            }
        }
    }

    .additional-infos {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 5%;

        ul {
            list-style-type: none;
            margin: 0 5% 0 5%;
        }

        li {
            font-size: 16pt;
            font-weight: 400;
            margin-bottom: 5%;
        }
    }
}

@media (max-width: 768px) {
    .weather-container {
        .weather-temperature {
            .weather-temperature-text {
                font-size: 30pt !important;
            }
        }

        .time {
            h2 {
                font-size: 30pt !important;
            }

            .thermal-sens {
                font-size: 15pt !important;
            }
        }

        .additional-infos {
            margin-top: 12%;

            li {
                font-size: 13pt;
            }
        }

    }
}

@media (max-width: 568px) {
    .weather-container {
        .weather-info {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .additional-infos {
            margin-top: 12%;
        }

    }
}