.weather-container {
    color: #fff;

    .weather-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 3em 10em 0 10em;

        .weather-temperature {
            width: 25%;

            .weather-icon {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90%;

                img {
                    max-width: 7em;
                    height: 60%;
                }

                .weather-temperature-text {
                    margin-left: 8%;
                    font-size: 40pt;
                    font-weight: 400;
                }
            }

            .weather-description {
                margin-top: 5%;
                font-size: 15pt;
                font-weight: 300;
                margin-right: 10px;
                
                width: 80%;
                height: 3rem;
            }
        }

        .time {
            width: 25%;

            .hour {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10%;

                h2 {
                    margin-top: 10%;
                    font-size: 40pt;
                    margin-right: 10%;
                }

                img {
                    max-width: 7em;
                    height: 50%;
                }
            }

            .thermal-sens {
                font-size: 20pt;
                font-weight: 300;
            }
        }
    }

    .additional-infos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        margin: 2% 15% 0 15%;
        height: 7em;

        ul {
            list-style-type: none;
            width: 20%;
        }

        li {
            font-size: 16pt;
            font-weight: 400;
            margin-bottom: 5%;
        }
    }
}

@media (max-width: 768px) {
    .weather-container {
        .weather-info {
            margin: 3em 10em 0 10em;

            flex-direction: column;
            flex-wrap: wrap;

            .weather-temperature {
                align-self: flex-start;
                width: 50%;

                .weather-temperature-text {
                    font-size: 30pt !important;
                }
            }

            .time {
                align-self: flex-end;
                width: 50%;

                h2 {
                    font-size: 30pt !important;
                }
    
                .thermal-sens {
                    font-size: 15pt !important;
                }
            }
        }

        .additional-infos {
            margin: 12% 20% 0 25%;
            height: 6em;

            ul {
                width: 50%;
            }

            li {
                font-size: 16pt;
            }
        }
    }
}

@media (max-width: 576px) {
    .weather-container {
        .weather-info {
            margin: 3em 5em 0 5em;

            flex-direction: column;
            flex-wrap: wrap;

            .weather-temperature {
                align-self: flex-start;
                width: 55%;

                .weather-temperature-text {
                    font-size: 30pt !important;
                }
            }

            .time {
                align-self: flex-end;
                width: 55%;

                h2 {
                    font-size: 30pt !important;
                }
    
                .thermal-sens {
                    font-size: 15pt !important;
                }
            }
        }

        .additional-infos {
            margin: 12% 10% 0 13%;
            height: 6em;

            ul {
                width: 35vw;
            }

            li {
                font-size: 16pt;
            }
        }
    }
}

@media (max-width: 480px) {
    .weather-container {
        .weather-info {
            margin: 3em 10em 0 5em;

            flex-direction: column;
            flex-wrap: wrap;

            .weather-temperature {
                align-self: flex-start;
                width: 55%;

                .weather-temperature-text {
                    font-size: 30pt !important;
                }

                .weather-description {
                    width: 150%;
                }
            }

            .time {
                align-self: flex-end;
                width: 55%;

                h2 {
                    font-size: 30pt !important;
                }
    
                .thermal-sens {
                    font-size: 15pt !important;
                }
            }
        }

        .additional-infos {
            margin: 12% 10% 0 13%;
            height: 6em;

            ul {
                width: 40vw;
            }

            li {
                font-size: 14pt;
            }
        }
    }
}

@media (max-width: 320px) {
    .weather-container {
        .weather-info {
            margin: 3em 10em 0 5em;

            flex-direction: column;
            flex-wrap: wrap;

            .weather-temperature {
                align-self: flex-start;
                width: 25vw;

                .weather-icon img {
                    width: 5em;
                }

                .weather-temperature-text {
                    font-size: 30pt !important;
                }

                .weather-description {
                    width: 150%;
                    font-size: 12pt;
                }
            }

            .time {
                align-self: flex-end;
                width: 25vw;

                h2 {
                    font-size: 26pt !important;
                }
    
                .thermal-sens {
                    font-size: 15pt !important;
                }

                .hour img {
                    width: 5em;
                }
            }
        }

        .additional-infos {
            margin: 12% 10% 0 13%;
            height: 6em;

            ul {
                width: 40vw;
            }

            li {
                font-size: 10pt;
            }
        }
    }
}