.weather-container {
    color: #fff;

    .weather-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 3em 10em 0 10em;

        .weather-temperature {
            width: 25%;

            .weather-icon {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90%;

                img {
                    max-width: 7em;
                    height: 60%;
                }

                .weather-temperature-text {
                    margin-left: 8%;
                    font-size: 40pt;
                    font-weight: 400;
                }
            }

            .weather-description {
                margin-top: 5%;
                font-size: 15pt;
                font-weight: 300;
                margin-right: 10px;
                
                width: 80%;
                height: 3rem;
            }
        }

        .time {
            width: 25%;

            .hour {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10%;

                h2 {
                    margin-top: 10%;
                    font-size: 40pt;
                    margin-right: 10%;
                }

                img {
                    max-width: 7em;
                    height: 50%;
                }
            }

            .thermal-sens {
                font-size: 20pt;
                font-weight: 300;
            }
        }
    }

    .additional-infos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        margin: 2% 15% 0 15%;
        height: 7em;

        ul {
            list-style-type: none;
            width: 20%;
        }

        li {
            font-size: 16pt;
            font-weight: 400;
            margin-bottom: 5%;
        }
    }
}

@media (max-width: 768px) {
    .weather-container {
        .weather-temperature {
            .weather-temperature-text {
                font-size: 30pt !important;
            }
        }

        .time {
            h2 {
                font-size: 30pt !important;
            }

            .thermal-sens {
                font-size: 15pt !important;
            }
        }

        .additional-infos {
            margin-top: 12%;

            li {
                font-size: 13pt;
            }
        }

    }
}

@media (max-width: 568px) {
    .weather-container {
        .weather-info {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .additional-infos {
            margin-top: 12%;
        }

    }
}