.header {
    color: #fff;
    background: linear-gradient(to right, #4C026E, #6F04A1);

    height: 9vh;
    min-width: 100vw;
    padding: 0 2% 0 2%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .header-city,
    .header-date {
        font-size: 1.2rem;
        font-weight: 600;
        flex-shrink: 0;
    }

    .header-city {
        width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        position: absolute;
        left: 5%;
    }

    .header-date {
        position: absolute;
        right: 5%;
    }
}

@media (min-width: 818px) and (max-width: 1600px) {
    .header {
        .header-search-bar-container {
            width: 45%;
            height: 40%;
        }

        .header-date {
            right: 2%;
        }
    }
}


@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        height: 12vh;

        .header-city,
        .header-date {
            font-size: 10pt;
            font-weight: 600;
            right: 0;
            left: 0;
        }

        .header-city {
            position: relative;
            width: 100%;
        }
    
        .header-date {
            position: relative;
        }
    }
}

@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 12vh;

        .header-city,
        .header-date {
            font-size: 10pt;
            font-weight: 600;
        }
    }
}

@media (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 10vh;

        .header-city,
        .header-date {
            font-size: 10pt;
            font-weight: 600;
        }
    }
}

@media (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 10vh;

        .header-city,
        .header-date {
            font-size: 9pt;
            font-weight: 600;
        }
    }
}