.container-temp-week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    padding: 0 10% 0 10%;
    width: 100%;
    height: 15rem;

    .max-min {
        color: white;

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        margin-top: 10rem;
        font-size: 0.9rem;

        position: absolute;
        left: 11.3%;

        .f-row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            text-align: left;
        }
    }

    .week-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;

        min-width: 90%;
        color: white;

        .arrows-left {
            position: absolute;
            left: 11.5%;

            cursor: pointer;
        }

        .arrows-right {
            position: absolute;
            right: 11.5%;

            cursor: pointer;
        }

        .temp-day {
            width: 15%;

            cursor: pointer;

            h3 {
                margin: 10px 0px;
            }

            img {
                margin: 10px 0px;
            }

            p {
                margin: 5px 0px;
            }

            .weather-icons {
                max-width: 70px;
                height: 70px;
            }
        }

        .highlight-today {
            background-color: #424040;
            border-radius: 10px;

            color: white;
            font-weight: bold;
            font-size: 16pt;
        }

        .faded-day {
            color: #B7B2B2;
        }

        .faded-current-day {
            color: white;
        }
    }
}

@media (max-width: 1440px) {
    .container-temp-week {
        margin-top: 5%;
    }
}

@media (max-width: 968px) {
    .container-temp-week {
        margin-top: 10%;
    }
}

@media (max-width: 767px) {
    .container-temp-week {
        margin-top: 5%;
        margin-bottom: 10%;

        .week-content .highlight-today {
            width: 25%;
        }

        .arrows-left {
            left: 8% !important;

            img {
                width: 40px;
            }
        }

        .arrows-right {
            right: 5% !important;

            img {
                width: 40px;
            }
        }
    }
}