.container-temp-week {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
    color: white;

    .max-min {
        display: flex;
        flex-direction: column;
        gap: 8px;

        margin-top: 162px;
        font-size: 0.9rem;

        .f-row {
            display: flex;
            flex-direction: row;
            gap: 10px;

            align-items: center;
            text-align: left;
        }
    }

        .arrows-left {
            cursor: pointer;
        }

        .arrows-right {
            cursor: pointer;
        }


    .weather-icons {
        max-width: 70px;
        height: 70px;
    }

    .temp-day {
        cursor: pointer;
    }

    .temp-day h3 {
        margin: 10px 0px;
    }

    .temp-day img {
        margin: 10px 0px;
    }

    .temp-day p {
        margin: 5px 0px;
    }


    .highlight-today {
        background-color: #424040;
        border-radius: 10px;

        color: white;
        font-weight: bold;
        font-size: 16pt;

        width: 10%;
    }

    .faded-day {
        color: #B7B2B2;
    }
}


@media (min-width: 569px) and (max-width: 968px){
.container-temp-week {
        margin-top: 60px;

    }

}

@media (max-width: 568px) {
    .container-temp-week {
        margin-top: 60px;

        .highlight-today {
            width: 25%;
        }

    }
}